body {
  background-color: #ffffff;
  font-size: medium;
  color: rgb(58, 52, 45);
}

h1 {
  font-family:
    Petit Formal Script,
    Georgia,
    "Times New Roman",
    serif;
  padding-bottom: 12px;
  text-shadow: 2px 1px 2px rgb(255, 255, 255);
}

h1 {
  padding: 30px;
  font-size: 60px;
}

h2 {
  font-family: Georgia, "Times New Roman", serif;
  padding-bottom: 12px;
  text-shadow: 2px 1px 2px rgb(255, 255, 255);
}
/*Special block*/
.special-block {
  padding: 15px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.menuList {
  background-color: aliceblue;
  box-shadow: 5px 2px 2px rgb(219, 219, 219);
}
.imageSection {
}
.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  text-align: left;
}

li {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.border {
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 5px 2px 2px rgb(219, 219, 219);
}

button {
  background-color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  color: rgb(98, 116, 133);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p {
  line-height: 40px;
}

.imageRef {
  text-align: left;
  margin-left: 30px;
}
