body {
  background-color: rgb(217, 225, 241);
  font-size: medium;
  color: rgb(58, 52, 45);
}

h1 {
  font-family:
    Petit Formal Script,
    Georgia,
    "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  padding-bottom: 12px;
  text-shadow: 2px 1px 2px rgb(255, 255, 255);
}

h1 {
  padding: 30px;
  font-size: 60px;
}

h2 {
  font-family:
    Georgia,
    "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  padding-bottom: 12px;
  text-shadow: 2px 1px 2px rgb(255, 255, 255);
}
/*Special block*/
.special-block {
  background-color: aliceblue;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: 5px 2px 2px rgb(219, 219, 219);
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.Demo {
  float: left;
  width: 100%;
  border: 2px solid black;
}
ul {
  text-align: left;
}

.border {
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 5px 2px 2px rgb(219, 219, 219);
}
